{% extends "finance/sidebar.html" %}
{% block title %}Expense Record{% endblock %}


{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/expenseRecord.css' %}">
<!-- Google Fonts Merriweather -->
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
{{ block.super }}
{% endblock %}


{% block main %}
<div>
    <main>
        <div class="expense-container">
            <h2>Expense Record</h2>

            <div class="date-filter">
                <label for="start_date">Date from:</label>
                <input type="date" id="start_date" name="start_date">
                <label for="end_date">to</label>
                <input type="date" id="end_date" name="end_date">

                <label for="category">Category</label>
                <select id="category" name="category">
                    <option value="ALL">ALL</option>
                    {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>

                <button id="search-btn" class="search-btn">Search</button>
            </div>

            <table class="expense-table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.date }}</td>
                        <td> {{ expense.currency }} {{ expense.amount }} </td>
                        <td>{{ expense.description }}</td>
                        <td>
                            <a href="{% url 'finance:edit_expense' expense.id %}" class="edit-btn">EDIT</a>
                            <a href="{% url 'finance:delete_expense' expense.id %}" class="delete-btn">DELETE</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"><strong>Total Amount:</strong></td>
                        <td><strong>{{user.currency.currency}} {{ total_amount }}</strong></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
</div>

{% block script %}
{% load static %}
<script src="{% static 'js/expenseRecord.js' %}"></script>
{% endblock %}

{% endblock %}