{% extends "finance/sidebar.html" %}
{% load static %}

{% block style %}
<!-- Load static files -->
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% endblock %}

{% block main %}
<div class="home">
    <section class="spending">
        <div class="actionbtn-container">
            <h2>Spending</h2>
            <button class="btn btn-shadow btn-shadow--black"> <span>View more</span> </button>
        </div>
        <div>Date DD/MM/YY<div>
                {% comment %} <div class="chart1-container"> {% endcomment %}
                    <canvas id="spendingChart"></canvas> <!-- Chart goes here -->
                    {% comment %}
                </div> {% endcomment %}



                <!-- Add your chart here -->
    </section>
    <section class="upcoming-payments">
        <h3>Upcoming Payments</h3>
        <ul>
            <li>Youtube Premium - $23.80</li>
            <li>Preschool - $280.00</li>
            <li>Rent - $1100.00</li>
            <li>Spotify - $11.89</li>
        </ul>
    </section>
    <section class="expense-target">
        <h3>Monthly Expense Target</h3>
        <p>Food: $1,724 / $5,000</p>
        <p>Transport: $1,724 / $5,000</p>
        <p>Entertainment: $1,724 / $5,000</p>
    </section>
</div>

{% block script %}
{% load static %}
<script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}
{% endblock %}