{% extends "finance/sidebar.html" %} 
{% load static %}
{% block style %}
  <!-- Load static files -->

  <link rel="stylesheet" href="{% static 'css/settings.css' %}">
  {{ block.super }}
{% endblock %}


{% block main %}
<div>
    {{exchange_rates}}
    {% comment %} {{exchange_rates_db}} {% endcomment %}
    {% comment %} {{items}} {% endcomment %}
    <form method="POST" action={% url 'finance:settings' %} class="settings" id="settings-form">
        {% csrf_token %}
        <div class="gridBox">
            <div class="textBox" >
                <div>FullName</div>
                <input name="first_name" type="text" value="{{user.firstname}}" class="inputBox" id="inp1" disabled/>
                {% comment %} <div>DisplayName</div> {% endcomment %}
            </div>
            <button class="edit-button" id="inpb1" type="button"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
            </button>
        </div>
        <div class="gridBox">
            <div class="textBox" >
                <div>FullName</div>
                <input name="last_name" type="text" value="{{user.lastname}}" class="inputBox" id="inp5" disabled/>
                {% comment %} <div>DisplayName</div> {% endcomment %}
            </div>
            <button class="edit-button" id="inpb5" type="button"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
            </button>
        </div>
        <div class="gridBox">
            <div class="textBox" >
                <div>Email address</div>
                <input name="email"  type="email_address" id="inp2" class="inputBox" value="{{user.email}}" disabled>
            </div>
            <button class="edit-button" id="inpb2" type="button"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
            </button>
        </div>
        <div class="gridBox">
            <div class="textBox" >
                <div>Password</div>
                <input  name="password"  type="Password" id="inp3" class="inputBox" value="{{user.password}}" disabled>
            </div>
            <button class="edit-button" id="inpb3" type="button"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
            </button>
        </div>
        <div class="gridBox">
            <div class="textBox">
                <div>Currency</div>
                <select name="currency" id="currency-dropDown">
                    {% if exchange_rates.rates %}
                        {% for currency_code in exchange_rates.rates.keys %}
                            <option value="{{ currency_code }}" 
                                {% if user.currency.currency == currency_code %}selected{% endif %}>
                                {{ currency_code }}
                            </option>
                        {% endfor %}
                    {% else %}
                        <option value="">No currencies available</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="confirm-btn">
            <button type="submit" class=" confirm-btn">Confirm</button>
        </div>
    </form>

    <div style="margin-left: 64px;    margin-top: 100px;">
        <h4 style="text-decoration: underline;font-weight: bold">Manage Your Account</h4> 
        <button class="delete-button" id="dlb"> <span>"Delete Account</span> </button>
    </div>

    
    <div class="logo">
        <img src="{% static 'images/moneybees.png' %}"   alt="Moneybees Logo"  class="img-fluid" />
        <h1 class="brand-title" style="font-size:60px; margin-top:-75px; margin-left:-32px"> MoneyBees </h1>
    </div>

</div>

<dialog id="deleteButtonDialog">
    <button style="display:flex; justify-self:right; border:none; background-color:transparent" id="closeDialog">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
    </button>
    
    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="#D9534F" class="bi bi-x-circle" viewBox="0 0 16 16" style="margin-top: 72px;">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
    </svg>
    <h1 style="margin-top: 40px; font-size: 40px;">Are you sure?</h1>
    <h5 style="color:rgb(106, 102, 102); margin-top:32px; text-align-last:center">Do you really want to delete this account? This process cannot be undone.</h5>
    <div style="display:flex; gap:28px; margin-top:40px">
        <button type="button" id="cancel" class="dialogButton" style="background-color: #C1C1C1;">Cancel</button>
        <button type="button" id="deleteAccountBtn" class="dialogButton" style="background-color: #FF225D;">Delete</button>
    </div>
</dialog> 



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/settings.js' %}"></script>



{% endblock %} 


