{% extends "base.html" %}

{% block head %}
  <!-- Load static files -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}


{% block content %}

<div class="display" >
    <nav class="sidebar" >
        <div class="profile">
            <svg  width="80" height="80" fill="currentColor" viewBox="0 0 16 16" style="margin:1rem">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            <div> A12345@gmail.com </br> AccountID: A12345 </div>
        </div>
    
    
        <ul > 
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Expenses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Income</a>
            </li>
            <li >
              <a class="nav-link"  href="#">Add Upcoming Payment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Expense record</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQs</a>
            </li>
            <li class="nav-item" style="margin-top: 160px">
              <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign-out</a>
            </li>
        </ul>
      </nav>
    
    
    <main class="main">
        <div>content</div>
        {% block main %} {% endblock %}
    </main> 
</div>


{% endblock %}


 