{% extends "finance/sidebar.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap">
<link rel="stylesheet" href="{% static 'css/upcomingExpense.css' %}">
{{ block.super }}
{% endblock %}

{% block main %}
<div class="container">
    <h1>Create upcoming payment!!</h1>
    <div class="upcoming-expense">
        <div class="expense-form">
            <form id="expense-form">
                {% csrf_token %}
                <input type="hidden" id="payment-id" name="payment_id"> <!-- store current user ID -->

                <label for="date">Select Date</label>
                <input type="date" id="date" name="date" required>

                <label for="category">Expense Category</label>
                <select id="category" name="category">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>

                <label for="currency">Currency:</label>
                <select name="currency" id="currency" required>
                    {% for currency_code, rate in exchange_rates.rates.items %}
                        <option value="{{ currency_code }}">{{ currency_code }}</option>
                    {% endfor %}
                </select>
                

                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" placeholder=" 0.0" required>

                <label for="description">Description</label>
                <textarea id="description" name="description"
                    placeholder="Add some description of the expense..."></textarea>

                <div class="form-buttons">
                    <button type="submit" id="save-btn">OK</button>
                    <button type="button" id="delete-btn" class="hidden">Delete</button>
                </div>
            </form>
        </div>

        <div class="expense-list">
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="expense-table-body">
                    {% for payment in payments %}
                    <tr data-id="{{ payment.id }}">
                        <td data-category="{{ payment.category.id }}">{{ payment.category.name }}</td>
                        <td>{{ payment.date }}</td>
                        <td>{{payment.currency.currency}}{{ payment.amount }}</td>
                        <td>{{ payment.description }}</td>
                        <td class="actions">
                            <button class="edit-btn">Edit</button>
                            <button class="paid-btn">Paid</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% block script %}
{% load static %}
<script src="{% static 'js/upcomingExpense.js' %}"></script>
{% endblock %}

{% endblock %}