<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password - MoneyBees</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="recover-page">
    <div class="container">
        <div class="left-panel">
            <img src="/static/images/moneybees-logo.png" alt="MoneyBees Logo">
            <h1>MoneyBees</h1>
            <p>Smart Tracking, Sweet Saving</p>
        </div>
        <div class="right-panel">
            <h2>Recover Password</h2>
            <p>Enter the email associated with your account and we’ll send you password reset instructions</p>
            <form method="POST">
                {% csrf_token %}
                <label>Email address</label>
                {{ form.email }}
                <button type="submit">Request reset link</button>
            </form>
            <a href="{% url 'login' %}">Return to Sign In</a>
        </div>
    </div>
</body>

</html>