{% extends "users/passwordreset_base.html" %}

{% block title %}Recover Password{% endblock %}

{% block content %}
<p>Enter the email associated with your account and we’ll send you password reset instructions</p>

<form method="POST">
    {% csrf_token %}
    <label>Email address</label>
    <div class="input-group">
        <span class="icon">📧</span>
        <input type="email" name="email" placeholder="email@address.com" required>
    </div>
    <button type="submit" class="btn-primary">Request reset link</button>
</form>
{% endblock %}